<a href="https://colab.research.google.com/github/hecpinheiro/Ciencia-de-dados/blob/main/franquia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv('https://raw.githubusercontent.com/hecpinheiro/Ciencia-de-dados/main/database/slr12.csv')
dataset.head()

   FrqAnual  CusInic
0      1000     1050
1      1125     1150
2      1087     1213
3      1070     1275
4      1100     1300

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   FrqAnual  36 non-null     int64
 1   CusInic   36 non-null     int64
dtypes: int64(2)
memory usage: 704.0 bytes