<a href="https://colab.research.google.com/github/hecpinheiro/Ciencia-de-dados/blob/main/tempo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as srn
import statistics  as sts

In [ ]:
dataset = pd.read_csv('https://raw.githubusercontent.com/hecpinheiro/Ciencia-de-dados/main/database/tempo.csv')
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Aparencia    14 non-null     object
 1   Temperatura  14 non-null     int64
 2   Umidade      13 non-null     float64
 3   Vento        13 non-null     object
 4   Jogar        14 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 688.0+ bytes

In [ ]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

Explorando dados categ√≥ricos

In [ ]:
aparenciagroup = dataset.groupby(['Aparencia']).size()
aparenciagroup

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [ ]:
ventogroup = dataset.groupby(['Vento']).size()
ventogroup

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [ ]:
jogargroup = dataset.groupby(['Jogar']).size()
jogargroup

Jogar
nao    5
sim    9
dtype: int64